<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="css/home.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>

	<body>
		<div id="home" class="container-fluid">
		
			<div id="homeLinks" class="container-fluid">
				<div class="container">
					<img src="http://imgur.com/BfRnx9M.jpg">
					<div class="textbox">
						<a class="text" href="/files/resume.docx" download>Resume</a>
					</div>
				</div>

				<div class="container">
					<img src="http://imgur.com/dclzhOk.jpg">
					<div class="textbox">
						<a class="text" href="https://github.com/Soichit" target="_blank">GitHub</a>
					</div>
				</div>

				<div class="container">
					<img src="http://imgur.com/NkljVL3.jpg">
					<div class="textbox">
						<a class="text" href="https://www.linkedin.com/in/soichit" target="_blank">LinkedIn</a>
					</div>
				</div>

				<div class="container">
					<img src="http://imgur.com/JleKUGn.jpg">
					<div class="textbox">
						<a class="text" href="https://www.youtube.com/user/Ohmmmmmful" target="_blank">Youtube</a>
					</div>
				</div>	
			</div>

			<div id="homeHeader" class="container-fluid">
				<h1 class="text2">Soichi Tanabe</h1>
				<h3 class="text2">Informatics Student at University of Washington</h3>
			</div>


			<div id="homeVideo" class="container-fluid">
			<h2 class="text3">Who am I? in 90 seconds</h2>
				<iframe width="720" height="488" src="http://www.youtube.com/embed/rYgpFq_9LiM"/>
			</div>



			<div id="homeHobbies" class="hobbies">
				<h2 class="text3">What are my Interests?</h2>
				<span id="firstCircle" class="w3-container">
					<img class ="image2" src="http://imgur.com/ImvYWrZ.jpg"/>
					<div class="textbox">
						<p class="text">Web Dev</p>
					</div>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/pRUHlP1.jpg"/>
					<span class="textbox">
						<p class="text">Android Dev</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/UlosM3X.jpg"/>
					<span class="textbox">
						<p class="text">Software Dev</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/fJjU9jA.jpg"/>
					<span  id="fourthCircle" class="textbox">
						<p class="text">Human Computer Interaction</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/U1cRkbV.jpg"/>
					<span class="textbox">
						<p class="text">UX Design</p>
					</span>
				</span>
				<br>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/JZNKCNJ.jpg"/>
					<span class="textbox">
						<p class="text">Film Editing</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/3UXo1op.jpg"/>
					<span class="textbox">
						<p class="text">Photoshop</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/8Fbf723.jpg"/>
					<span class="textbox">
						<p class="text">Art</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/dWxcU1E.jpg"/>
					<span class="textbox">
						<p class="text">Philosophy</p>
					</span>
				</span>
				<br>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/c7yvmNA.jpg"/>
					<span class="textbox">
						<p class="text">Psychology</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/aZfd80G.jpg"/>
					<span class="textbox">
						<p class="text">Thinking</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/oXB7bx2.jpg"/>
					<span class="textbox">
						<p class="text">Puzzles</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/xHS0H2M.jpg"/>
					<span class="textbox">
						<p class="text">Magic</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/8XIVHhk.jpg"/>
					<span class="textbox">
						<p class="text">Self Development</p>
					</span>
				</span>
				<br>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/2cQ2Eyy.jpg"/>
					<span class="textbox">
						<p class="text">Professional Development</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/wbXSstt.jpg"/>
					<span class="textbox">
						<p class="text">Fitness</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/9Kwmb62.jpg"/>
					<span class="textbox">
						<p class="text">Soccer Freestyle</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/v1QXKNq.jpg"/>
					<span class="textbox">
						<p class="text">Hiking</p>
					</span>
				</span>
				<br>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/pFwgt8y.jpg"/>
					<span class="textbox">
						<p class="text">Traveling</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/o3uH6QY.jpg"/>
					<span class="textbox">
						<p class="text">Creative Writing</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/OoWBF9k.jpg"/>
					<span class="textbox">
						<p class="text">Japanese Culture</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/KQxQnwh.jpg"/>
					<span class="textbox">
						<p class="text">Linguistics</p>
					</span>
				</span>
				<span class="w3-container">
					<img class ="image2" src="http://imgur.com/hDBJ1AF.jpg"/>
					<span class="textbox">
						<p class="text">Economics</p>
					</span>
				</span>


				<br>
				<br>
				Web Dev
				Android App Dev
				Software Dev
				Human Computer Interaction
				UX Design
				Film Editing
				Photoshop
				Art
				Philosophy
				Psychology
				Thinking
				Puzzles
				Magic
				Self Development
				Professional Development
				Fitness
				Soccer Freestyle
				Hiking
				Traveling
				Creative Writing
				Japanese Culture
				Linguistics
				Economics
			</div>
		</div>
	</body>
</html>