<!DOCTYPE html>
<html lang="en">
	<script type="text/javascript" src="js/data.js"></script>
	<body>
		<div id="content" class="container-fluid" style="position: relative; left: 0; top: 0;">
		    <a ui-sref = "index4"> <img id="image1" class = "image"/></a>
		    <a ui-sref = "index5"> <img id="image2" class = "image"/></a>
		    <a ui-sref = "index8"> <img id="image5" class = "image"/></a>
		    <a ui-sref = "index7"> <img id="image4" class = "image"/></a>
		    <img id="image3" class = "image"/>
		</div>

		<div id="description" class="container-fluid">
			<div id="description-title">
				<a id="url1" target="_blank"></a>
			</div>
			<p id="description1"></p>
		</div>
		<script>
          	getData(6);
       </script>
	</body>
</html>
